<template>
  <div class="about">

    <h3>Это лицевая часть, на самом деле, трёх независимых программных комплексов.</h3>
    <ul>
        <li>Сама оная, Vue.js + D3.js (C3.js) для графиков</li>
        <li>Django + DRF для формирования ответов из базы на запросы данных</li>
        <li>Scrapy + Heroku Scheduler для сбора данных</li>
    </ul>

    <h3>Исходный код к ним соответственно:</h3>
    <ul>
        <li>
            <a href="https://bitbucket.org/svoloshin/ds-vue-14/src">
                https://bitbucket.org/svoloshin/ds-vue-14/src
            </a>
        </li>
        
        <li>
            <a href="https://bitbucket.org/svoloshin/ds-django-14/src">
                https://bitbucket.org/svoloshin/ds-django-14/src
            </a>
        </li>

        <li>
            <a href="https://bitbucket.org/svoloshin/ds-scrapy/src">
                https://bitbucket.org/svoloshin/ds-scrapy/src
            </a>
        </li>
    </ul>

    <p> {{ua_info}} </p>
  </div>
</template>

<script>

const axios = require('axios');

export default {
  name: 'About',
  data () {
    return {
        ua_info: '',
    }
  },
  mounted() {
    axios
      .get(`${process.env.VUE_APP_ROOT_API}/get_ua_info`)
      .then(response => (this.ua_info = response.data))
  }
}
</script>