<template>
  
  <div>
    
    <p>⛱️ Сканирование данных происходит раз в день, начиная с 19 октября 2020 года.</p>
    
    <p>Отображаются 50 значений.</p>

    <date-picker v-model="date_range" type="date" range></date-picker>

    <h3>projects</h3>
    <vue-c3 :handler="viz_1"></vue-c3>
    
    <h3>releases</h3>
    <vue-c3 :handler="viz_2"></vue-c3>
    
    <h3>files</h3>
    <vue-c3 :handler="viz_3"></vue-c3>
    
    <h3>users</h3>
    <vue-c3 :handler="viz_4"></vue-c3>
</div>

</template>

<script>

import Vue from 'vue'

import VueC3 from 'vue-c3'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

const axios = require('axios');

export default {
  name: 'D3Chart',
  components: {
    VueC3,
    DatePicker
  },
  data () {
    return {
      
      date_range: [new Date("2020-09-19"), new Date()],

      pyPiInfo: null,

      viz_1: new Vue(),
      viz_2: new Vue(),
      viz_3: new Vue(),
      viz_4: new Vue(),

      info: '',
      projects: 0,
      releases: 0,
      users: 0,
      files: 0,
      dates: '',
    }
  },
  methods: {
    initC3: function (element, column) {
        element.$emit('init', {
          data: {
                x: 'date',
                columns: [
                    this.dates,
                    column,
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            }
        });
    },

    getPyPiInfo: async function() {
      let url = `${process.env.VUE_APP_ROOT_API}/get_chart_infos`;

      let config = {
        params: {
          datetime_to: this.date_range[1].toISOString(),
          datetime_from: this.date_range[0].toISOString(),
        }
      };

      await axios.get(url, config)
        .then((result) => {
          this.pyPiInfo = result.data;
          console.log('axios got', this.pyPiInfo)
        })
        .catch(err => {
          console.log(err);
        });
    },

    drawCharts: async function() {

      await this.getPyPiInfo();
      
      let projects = ["projects"]
      let releases = ["releases"]
      let users = ["users"]
      let files = ["files"]
      let dates = ["date"]

      for(let info of this.pyPiInfo) {
        projects.push(info.projects);
        releases.push(info.releases);
        users.push(info.users);
        files.push(info.files);
        dates.push(new Date(info.created_at));
      }

      this.projects = projects;
      this.releases = releases;
      this.files = files;
      this.users = users;
      this.dates = dates;

      this.initC3(this.viz_1, this.projects);
      this.initC3(this.viz_2, this.releases);
      this.initC3(this.viz_3, this.users);
      this.initC3(this.viz_4, this.files);
    },
    test1: function() {
      this.drawCharts()
    },
  },
  mounted () {
    this.drawCharts()
  },
  computed: {
    show_date_range () {
      return this.date_range;
    }
  },
  watch: {
    // whenever date_range changes, this function will run
    show_date_range: function (newDateRange, oldDateRange) {
      console.log('watch date_range', oldDateRange);
      console.log('watch date_range', newDateRange);
      this.drawCharts();
    }
  },
}
</script>

<style lang='css' scoped>
  @import '../assets/c3.min.css';
</style>